
body {
  font-size: 15px;
  font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.846;
  color: #666666;
}

h2 {
  font-size: 34px;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 23px;
    margin-bottom: 11.5px;

    font-family: inherit;
    font-weight: 400;
    line-height: 1.1;
    color: #444444;
}
